@tailwind base;
@tailwind components;
@tailwind utilities;

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #285956;
    z-index: 1;
    color: #fff;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    background-image: url('./public/loginBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.loginContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000009d;
    gap: 70px;
    border-radius: 15px;
    padding: 70px;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15px;
    gap: 20px;
    text-align: center;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}
.login-EP {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    text-align: left;
    gap: 10px;
}
.loginInput {
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    z-index: 1;
    color: #000000;
    filter: drop-shadow(0px 0px 5px #2c7251);
    transition: 0.2s;
}
.loginInput:hover {
    filter: drop-shadow(0px 0px 10px #43B27F);
}
.checkbox {
    cursor: pointer;
}

.signIn {
    background-color: #43B27F;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
    width: 100%;
    margin: 10px 0px;
} 
.signIn:hover {
    background-color: #285956;
}
.login-createOne {
    transition: 0.2s;
}
.login-createOne:hover {
    color: #e2cdad !important;
}

.loginHeading {
    width: 100%;
    text-align: left;
    padding: 15px;
}


.login1 {
    position: relative;
    border: 1px solid #43B27F;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 30px;
    font-size: 12px;
    background-color: #43B27F;
    border-radius: 10px 60px 10px 10px;
    padding: 20px
}
.login1-getJob {
    background-color: #fefefe;
    width: 100%;
    color: #000;
    border-radius: 10px 60px 10px 10px;
    padding: 15px;
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: 0.2s;
    border: 3px solid #056337;
}
.login1-getJob:hover {
    transform: scale(0.95);
}
.getJob0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    width: 60%;
    height: 90px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 900;
    filter: drop-shadow(1px 10px 4px #5c5c5c);
}
.getJob1 {
    font-size: 15px;
    font-weight: 500;
    width: 200px;
}
.getJob2 {
    width: 190px;
    font-weight: 400;
}
.getJobImg {
    height: 40px;
}
.rocketImg {
    background-color: #0F2221;
    border-radius: 50%;
    position: relative;
    
}
.rocketImg img:hover {
    transform: scale(1.2);
}
.showPass {
    width: 25px; 
    cursor: pointer;
    transition: 0.2s;
}
.showPass:hover {
    transform: scale(1.2);
}
.login-EP-password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.orgRegContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    height: 100svh; 
}
.orgReg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000088;
    border-radius: 20px;
    margin: 20px 0px;
}
.orgReg1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    margin: 20px 0px;
    gap: 20px;
    width: 500px;
}

.orgRegGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.backToSignIn {
    color: #b1b1b1;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.backToSignIn:hover {
    color: #fff;
}

.regIn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    gap: 5px;
    transition: 0.2s;
}
.regIn input {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    width: 100%;
    color: #000;
    transition: 0.2s;
}
.regIn input:hover {
    filter: drop-shadow(0px 0px 10px #43B27F);
}


.regIn select {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    height: 35px;
    color: #000;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}
.regIn select:hover {
    filter: drop-shadow(0px 0px 10px #43B27F);
}

input::file-selector-button {
    border: none;
    background-color: #008CDF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
input::file-selector-button:hover {
    background-color: #2c7251;
}
input[type="file"] {
    border: none;
    display: flex;
    font-size: 13px;
    color: #fff;
}

.registerBtn {
    background-color: #43B27F;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    transition: 0.2s;
    width: 100%;
}
.registerBtn:hover {
    background-color: #285956;
}
.orgReg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    background-color: #43B27F;
    height: 80%;
    border-radius: 10px 60px 10px 10px;
    margin: 20px;
    padding: 30px 30px;
    text-align: center;
}
.globeImg {
    width: 150px;
    filter: brightness(1);
    transition: 0.2s;
}
.globeImg:hover {
    transform: scale(1.2);
}