.applicantDashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100svh;
    background-color: #ededed;
    color: #000000;
    font-family: 'Karla', sans-serif;
}

.applicant-navBar {
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    /* border-bottom: 1px solid #8f8f8f; */
    filter: drop-shadow(1px 1px 1px #d1d1d1);
    transition: 0.2s;
}

.applicantLinks {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    gap: 50px;
    align-self: center;
    justify-self: center;
    transition: 0.2s;
}
.applicantLinks a {
    transition: 0.2s;
}
.applicantLinks a:hover{
    font-weight: bold;
}
.stealthLogo {
    width: 50px;
    height: 50px;
    background-color: #09924D;
    border-radius: 50%;
    margin-right: 10px;
}
.applicantNavLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #09924D;
}

.applicantJobs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 80svh;
    margin: 20px;
    width: 90%;
    font-family: 'Karla', sans-serif;
}
.jobSearchAndJobsWrapper {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.applicantJobs-searchBarContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    gap: 10px;
}
.applicantJobs-searchBar {
    width: 100%;
}
.jobSearchInputWrapper {
    width: 100%;
}
.jobSearchInput1 {
    border: 1px solid #6b6b6b;
    border-radius: 5px 0px 0px 5px;
    padding: 12px 8px;
    font-size: 14px;
    width: 40%;
}
.jobSearchInput2 {
    border: 1px solid #6b6b6b;
    border-radius: 0px 5px 5px 0px;
    padding: 12px 8px;
    font-size: 14px;
    width: 40%;
}
.jobSearchInputBtn {
    background-color: #119856;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    margin-left: 15px;
    width: 10%;
    transition: 0.2s;
}
.jobSearchInputBtn:hover {
    filter: drop-shadow(1px 1px 5px #26A365);
}

.jobFilterBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    height: 100%;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
}
.jobFilterBar-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.line {
    width: 100%;
    border: 1px solid #dddddd;
    margin: -15px 0px;
}
.jobFilterBar-names {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 10px 0px;
}
.checkBox-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
input[type = checkbox] {
    width: 14px;
}
input[type=checkbox]:hover {
    cursor: pointer;
}
.checkBox {
    display: flex;
    gap: 5px;
    font-size: 13px;
}
.jobFilterBar-heading {
    font-size: 16px;
    font-weight: 500;
    color: #025d14;
    margin: 0px 0px 8px 0px;
}
.sortBy-checkBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.filter {
    font-size: 20px;
    color: #070707;
    font-weight: 600;
}
.reset {
    font-size: 12px;
    color: #26A365;
    font-weight: bold;
}
.reset:hover {
    cursor: pointer;
}


.jobListings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    
}
.job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.job:hover {

    filter: drop-shadow(3px 3px 3px #a5a5a5);
}
.job1 {
    display: flex;
    gap: 8px;
}
.job1-1 {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.job1-1 h2{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}
.job1-1 p {
    font-size: 11px;
    font-weight: 500;
    color: #8B8C8E;
}
.jobOrgLogo {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
}
.job2 {
    display: flex;
    gap: 10px;
}
.job2 p {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
}
.jobDuration {
    background-color: #D9EEFF;
    color: #168BFD;
}
.jobWorkLocation {
    background-color: #F2E3FF;
    color: #9F52FB;
}
.jobExperience {
    background-color: #FFF0D4;
    color: #FE9822;
}
.job3 p{
    font-size: 13px;
}
.job4 p {
    font-size: 13px;
}

.jobFilterBarApplyBtn {
    width: 100%;
    background-color: #26A365;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    margin: 20px 0px;
    transition: 0.2s;
}
.jobFilterBarApplyBtn:hover {
    filter: drop-shadow(1px 1px 5px #26A365);
}

.applicantJobDetails {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jobDetails {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #fff;
    width: fit-content;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
}
.jobTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}
.jobVacancies {
    letter-spacing: 1px;
}
.jobEnd {
    letter-spacing: 1px;
}
.jobOfficeLocation {
    font-size: 14px;
    letter-spacing: 1px;
}
.description {
    transition: 0.2s;
    cursor: pointer;
    width: 450px;
}
.description:hover {
    transform: scale(1.2);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    filter: drop-shadow(1px 1px 40px #b3b3b3);
}
.applicantApplyBtn {
    background-color: #26A365;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    transition: 0.2s;
}
.applicantApplyBtn:hover {
    filter: drop-shadow(1px 1px 5px #26A365);
}
.cross {
    width: 20px;
    transition: 0.2s;
    cursor: pointer;
}
.cross:hover {
    transform: scale(1.2);
}

.applyJobModalContainer {
    position: fixed;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100svw;
    background-color: #0000007f;
    z-index: 0;
}
.applyJob {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Karla', sans-serif;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    height: 600px;
    min-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    gap: 30px;
    font-size: 15px;
    z-index: 3;
}
.applyJob input {
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 5px;
}
.applyJob-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.applyJob-name input[type=file] {
    border: none;
    color: #000;
    
}
.applyJob1 {
    display: flex;
    align-items: center;
}

.applyForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;   
}
.applySendBtn {
    background-color: #09924D;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
}
.applySendBtn:hover {
    background-color: #119856;
    filter: drop-shadow(1px 1px 4px #119856);
}
.applySuccess {
    
}




    ::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(122, 122, 122);
        border-radius: 20px;
    }
    ::-webkit-scrollbar-track {
        background: rgb(78, 78, 78);
        border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(149, 149, 149);
        border-radius: 20px;
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #b6b6b6;
    }