.orgDashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100svh;
    min-height: 100svh;
    background-color: #ededed;
    color: #000000;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}
.org-navBar {
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    /* border-bottom: 1px solid #8f8f8f; */
    filter: drop-shadow(1px 1px 1px #d1d1d1);
    transition: 0.2s;
    z-index: 100;
}
.stealthLogo {
    width: 50px;
    height: 50px;
    background-color: #09924D;
    border-radius: 50%;
    margin-right: 10px;
}
.orgNavLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #09924D;
}

.orgLinks {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    gap: 50px;
    align-self: center;
    justify-self: center;
    transition: 0.2s;
}
.orgLinks a {
    transition: 0.2s;
}
.orgLinks a:hover{
    font-weight: bold;
}
.orgProfile {
    position: relative;
    height: fit-content;
    z-index: 100;
}
.orgProfile img {
    width: 40px;
    filter: drop-shadow(1px 1px 1px #777777);
    cursor: pointer;
}
.dropDown {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #09924D;
    color: #f4f4f4;
    width: 150px;
    border-radius: 20px;
    transform: translate(-70%, 15%);
    overflow: hidden;
    transition: 0.2s;
    z-index: 100;
}
.dropDownItem {
    display: flex;
    gap: 12px;
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-align: center;
    transition: 0.2s;
    z-index: 100;
}
.dropDownItem:hover {
    background-color: #17ae65;
}
.dropDownItem img {
    width: 20px;
    filter: invert(1);
}


.orgJobListingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    height: fit-content;
    padding: 40px 50px;
    background-color: #EDEDED;
}
.orgJobListingsTitle {
    font-weight: 500;
    letter-spacing: 2px;
    color: #06753e;
}
.orgJobListings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 40px;
}
.orgJobListing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
    filter: drop-shadow(1px 1px 1px #d1d1d1);
}

.job2 {
    display: flex;
    gap: 10px;
}
.job2 p {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
}
.jobDuration {
    background-color: #D9EEFF;
    color: #168BFD;
}
.jobWorkLocation {
    background-color: #F2E3FF;
    color: #9F52FB;
}
.jobExperience {
    background-color: #FFF0D4;
    color: #FE9822;
}
.editBtn {
    background-color: #168BFD;
    padding: 5px 20px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    letter-spacing: 2px;
    transition: 0.3s;
}
.editBtn:hover {
    background-color: #45a2ff;
}
.editBtn img{
    width: 18px;
    height: 18px;
    filter: invert(1);
}
.deleteBtnContainer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-15px, 20px);
    background-color: rgb(237, 78, 78);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    transition: 0.2s;
}
.deleteBtnContainer p {
    position: absolute;
    font-size: 12px;
    width: 90px;
    transform: translate(-70px, -2px);
    font-weight: bold;
}
.deleteBtnContainer img {
    width: 15px;
    filter: invert(1);
}
.deleteBtnContainer:hover {
    color: rgb(237, 78, 78);
}
.deleteJobModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 20px;

}
.deleteJobModal p {
    font-size: 20px;
}
.deleteJobModal .yesBtn {
    background-color: rgb(237, 78, 78);
    color: #fff;
    padding: 10px 50px;
    border-radius: 15px;
    
}
.yesNoBtnContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.yesNoBtnContainer .noBtn {
    background-color: rgb(92, 92, 92);
    color: #fff;
    padding: 5px 50px;
    border-radius: 15px;
}
.dustbinContainer {
    background-color: rgb(237, 78, 78);
    padding: 10px;
    border-radius: 50%;
}
.dustBin {
    width: 50px;
    filter: invert(1);
}


.orgJobListingsSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
}
.jobSearchInput {
    border: 1px solid #909090;
    text-align: center;
    border-radius: 5px;
    padding: 12px 8px;
    font-size: 14px;
    width: 40%;
    height: 45px;
    filter: drop-shadow(1px 1px 1px #7a7a7a);
}
.orgAddJobBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #09924D;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    transition: 0.2s;
    font-size: 14px;
}
.orgAddJobBtn:hover {
    background: #0ca85a;
}

.orgHome {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.orgHomeWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #fff;
    padding: 30px 130px;
    border-radius: 40px;
    margin-top: 30px;
    overflow: hidden;
    z-index: 3;
}
.orgHomeTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 3;
}
.orgHomeBtn {
    background-color: #17B96B;
    color: #fff;
    padding: 15px 20px;
    border-radius: 20px;
    transition: 0.2s;
    filter: drop-shadow(1px 1px 1px #929292);
}
.orgHomeBtn:hover {
    letter-spacing: 2px;
}
.orgHome h1 {
    font-size: 30px;
    font-weight: 500;
    width: 250px;
    letter-spacing: 2px;
    text-align: center;
}
.happyEmployeeImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #acdec683;
    border-radius: 60% 40% 52% 48% / 64% 40% 60% 36%;
    box-shadow: 1px 1px 1px #d5d5d5;
    transform: translateX(40px);
}
.happyEmployeeImg img {
    width: 600px;
    filter: drop-shadow(5px 1px 1px #585858);
}
.orgHomeDesign {
    position: absolute;
    top: -30px;
    left: -130px;
    width: 400px;
    height: 700px;
    border-radius: 50%;
    background-color: #BCE6FE;
    z-index: 0;
}

.overlay {
    position: fixed;
    top: 0;
    background-color: #0000007d;
    height: 100svh;
    width: 100%;
    z-index: 101;
}
.modal {
    z-index: 102;
}
.addJobModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 600px;
    min-width: 560px;
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Karla', sans-serif;
}
.jobDetails1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 80%;
}
.jobDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.jobDetail p {
    font-size: 15px;
}
.jobDetail select {
    width: 100%;
    height: 35px;
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 14px;
    cursor: pointer;
}
.jobDetail option {
    border-radius: 10px;
}
.addJobModal input[type='text'] {
    box-sizing: border-box;
    padding: 0px 10px;
}
.addJobModal input[type='date'] {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0px 10px;
    height: 35px;
}
.addJobModalBtn {
    background-color: #119856;
    width: 80%;
    color: #000;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin: 20px;
}
.addJobTitle {
    font-size: 20px;
    margin-top: 20px;
}

.detailText {
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 5px;
    height: 32px;
    width: 100%;
}
.detailTextArea {
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
}

.orgApplicants {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 20px;
    gap: 50px;
    margin: 20px;
    z-index: 1;
}
.orgApplicantContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 35px;
    gap: 30px;
    filter: drop-shadow(1px 1px 1px #b6b6b6);
    z-index: 1;
}
.orgApplicantContainer1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    z-index: 1;
}
.orgApplicant {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    z-index: 1;
}
.orgApplicant p {
    letter-spacing: 0.3px;
}
.viewCv {
    width: 100%;
}
.viewCv button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #8FDDC1;
    border-radius: 10px;
    height: 40px;
    width: 100%;;
}
.viewCv img {
    width: 20px;
    filter: contrast(2);
}
.applicantJobTitle {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #838383;
}
.orgApplicantDelete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 50%;
    top: 35px;
    right: 20px;
    background-color: #ED4E4E;
}
.orgApplicantDelete img {
    width: 15px;
    filter: invert(1);
}
.organizationProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.organizationLogoContainer {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
}
.organizationLogoContainer img{
    width: 90px;
    filter: drop-shadow(1px 1px 1px #848484);
} 
.organizationDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    max-width: 500px;
    width: 500px;
    padding: 20px 0px 50px 0px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 1px #b6b6b6);
}
.organizationInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
.organizationInfo p {
    font-weight: 500;
}
.organizationInfo input{
    width: 100%;
    border: 1px solid #707070;
    padding: 10px;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
}
.organizationInfoInputChange {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.changeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    color: transparent;
    transition: 0.2s;
    font-size: 0px;
}
.changeContainer:hover {
    color: #000;
    font-size: 12px;
    text-shadow: 1px 1px 5px #7a7a7a;
}
.changeContainer img {
    width: 30px;
    height: 30px;
    filter: brightness(0.5);
    cursor: pointer
}
.changeContainer p{
    position: absolute;
    top: 35px;
    font-size: 12px;
    border-radius: 20px;
    padding: 2px 10px;
}
.changeAllBtn {
    width: 80%;
    background-color: #0ca85a;
    padding: 10px 5px;
    color: #fff;
    border-radius: 10px;
    margin-top: 15px;
}
.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 100%;
    font-size: 20px;
    color: #09924e;
    letter-spacing: 2px;
    word-spacing: 10px;
}

@media (max-width: 1100px) {
    .orgJobListings {
        grid-template-columns: repeat(2, 1fr);
    }
    .orgApplicants {
        grid-template-columns: repeat(2, 1fr);
    }
    .organizationDetailsContainer {
        width: 60%;
    }
}

